@font-face {
  font-family: Chiaro;
  src: url("./resources/fonts/Chiaro.otf");
}
@font-face {
  font-family: HyliaSerif;
  src: url("./resources/fonts/HyliaSerif.otf");
}
@font-face {
  font-family: Visitor;
  src: url("./resources/fonts/Visitor.ttf");
}
@font-face {
  font-family: ZeldaDX;
  src: url("./resources/fonts/ZeldaDX.ttf");
}
